:root {
    --dark-text: #313131;
    --primary-color: #325c8e;
}

body {
    margin: 0;
}

* {
    color: var(--dark-text);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    border-bottom: 1px solid #d1d1d1;
}

.nav-item {
    margin: 1rem;
}

#page-title {
    margin-right: auto;
}

/* Main Content */

.content {
    display: flex;
    height: calc(100vh - 60px);
}

.bg-img {
    background-image: url('img/julianprague.jpg');
    background-size: cover;
    flex: 2;
}

.bio {
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bio-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
