:root {
    --dark-text: #313131;
    --primary-color: #325c8e;
    --primary-darkened: #294261;
}

body {
    margin: 0;
}

* {
    color: var(--dark-text);
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    border-bottom: 1px solid #d1d1d1;
}

.nav-item {
    font-weight: 500;
    text-decoration: none;
    margin: 1.5rem 1rem;
}

#page-title {
    font-size: 1.2em;
    margin-right: auto;
    font-weight: 600;
}

#call-to-action {
    font-weight: 700;
    text-decoration: none;
}

/* Main Content */

.content {
    display: flex;
    height: calc(100vh - 4.5rem - 1px);
}

.bg-img {
    background-image: url('img/julianprague.jpg');
    background-size: cover;
    flex: 2;
}

.bio {
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bio-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* Buttons */

.button {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--primary-darkened);
}
